/* Colors
 * =================
 * Background
 * color: #252c34;
 *
 * Green Link
 * color: #32Da09;
 *
 * Red Link
 * color: #d90932;
 *
 * Blue Link
 * color: #0932d9;
 *
 */


/* General Elements
-------------------------------------------------*/

body {
	background: #252c34;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
}

h2, h3, h4, h5, h6 {
	color: #252c34;
	font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; /* what a font stack :P */
	font-weight: normal;
	margin-bottom: 3px;
	
	text-shadow: 0 0 0 #fff;	/* remove blur */
}

h1, #sidebar h3 {
	font-family: georgia, serif;
	font-weight: bold;
	font-style: italic;
	line-height: 1.5em;
	letter-spacing: -1pt;	/* cursive look */
	color: #333;
}

h1 {
	word-spacing: 3pt;	/* was too squished */
}

a {
	text-decoration: none;
	color: #0932d9;
}

a:hover {
	text-decoration: underline;
}

/* Rounded Corners */
.r_corner {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
}


/* Unique Page Sections
-------------------------------------------------*/

/* Header */
#header {
	height: 83px;
	background: #252c34;
}


/* Logo */
#logo {
	margin: 1em 0 0 4em;
}

#logo h1 {
	color: #eee;
	margin: 0;
	font-size: 2.5em;
}

#logo h1 span {
	color: #aaa;
}


/* Session */
#session {
	background: #eee;
	
	text-align: center;
	border: 1px solid #ccc;
	padding: 6px;
	margin-top: 1em;
}

#session_user {
	font-weight: bold;
}

#session #user_group {
	font-weight: normal;
	color: #888;
	font-size: 85%;
}

#session #session_links {
	padding-top: 0.4em;
}

#session #logout {
	color: #d90932;
}


/* Wrapper */
#wrapper {
	background: url('../images/content_bg.png') repeat-y top left;
}


/* Breadcrumb */
#breadcrumb {
	color: #fff;
	padding: 5px 10px;
	margin: 5px 0;
}

#breadcrumb a {
	color: #fe8c0f;
}


/* Content */
#content {
	padding: 0 10px;
}

#content h1 {
	text-align: center;
}


/* Sidebar */
#sidebar h3 {
	text-align: center;
	color: #ccc;
	margin: 2px;
}

#sidebar ul {
	text-align: left;
	background: #252c34;
	
	font-size: 110%;
	list-style: none;
}

#sidebar ul li {
	margin: 0;
}

#sidebar a {
	color: #ccc;
	padding: 10px 0 10px 15px;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

#sidebar a p {
	color: #666;
	font-size: 90%;
	font-weight: normal;
	margin: 0;
}

#sidebar a:hover {
	color: #ddd;
}

#sidebar a:hover p {
	color: #aaa;
}

#sidebar a.selected:hover p {
	color: #666;
}

#sidebar a.selected {
	color: #333;
	background: url('../images/sidebar_selected.png') repeat-y top left;
}

#sidebar .icon {
	padding: 0;
	height: 24px;
	width: 24px;
	float: right;
	margin: 6px 10px 0 0;
}

#sidebar .selected #home_icon {
	background: url('../images/icons/home.png') no-repeat top left;
}

#sidebar .selected #content_icon {
	background: url('../images/icons/pencil.png') no-repeat top left;
}

#sidebar .selected #member_icon {
	background: url('../images/icons/members.png') no-repeat top left;
}

#sidebar .selected #settings_icon {
	background: url('../images/icons/wrench.png') no-repeat top left;
}

#sidebar .selected #statistics_icon {
	background: url('../images/icons/calendar.png') no-repeat top left;
}


/* Footer */
#footer {
	color: #666;
	margin-top: 1em;
	text-align: center;
}